@tailwind base;
@tailwind components;
@tailwind utilities;

.perspective {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

/* img {
  filter: hue-rotate(90deg);
  -webkit-filter: hue-rotate(90deg);
} */

.hair {
  animation-name: hair-animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

[data-delay="0.2"] {
  animation-delay: 0.2s;
}

[data-delay="0.4"] {
  animation-delay: 0.4s;
}

[data-delay="0.6"] {
  animation-delay: 0.6s;
}

@keyframes hair-animation {

  0%,
  100% {
    rotate: 90deg;
  }

  50% {
    rotate: 100deg;
  }
}

.shake {
  animation-name: shake-animation;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes shake-animation {

  0%,
  100% {
    translate: 0px 0px;
  }

  50% {
    translate: -15px -15px;
  }
}

.ribbon-shake {
  animation-name: ribbon-shake-animation;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes ribbon-shake-animation {

  0%,
  75%,
  100% {
    translate: 0px 0px;
  }

  80%, 90% {
    translate: -5px -5px;
  }
  85%, 95% {
    translate: 5px 5px;
  }
}